@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --blue-600: #666CA3;
    --blue-900: #13183F;
    --grey: #83869A;
    --pink-600: #F74780;
    --pink-300: #FFA7C3;
}

body,
* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.gradient-1 {
    background: linear-gradient(to bottom, #FF6F48, #F02AA6);
}

.gradient-2 {
    background: linear-gradient(to bottom, #4851FF, #F02AA6);
}

.gradient-3 {
    background: linear-gradient(to bottom, #FFFFFF, #F0F1FF);
}

.bg-blue-900 {
    background-color: var(--blue-900);
}

a {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn.bg-blue-900:hover {
    background-color: var(--blue-600);
}

.text-1 {
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 120%;
}

.text-3 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 120%;
}

.text-4 {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 120%;
}

.text-5 {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
}

.text-7 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 150%;
}

.section {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.container {
    width: 85%;
    max-width: 1120px;
    margin: 0 auto;
}

a.btn {
    color: white;
    border-radius: 1.75rem;
    text-align: center;
    padding: 1rem 2rem;
    display: inline-block;
}

.logo {
    height: 1.75rem;
}

h1 {
    color: var(--blue-900);
}

h2 {
    color: white;
}

p {
    color: var(--grey);
}

/* Header and Hero ********************************** */
header {
    overflow: hidden;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 8%;
    padding-bottom: 10%;
}

.hero_content {
    flex: 1;
    max-width: 50%;
}

.hero_content h1 {
    margin-bottom: 1.5rem;
}

.hero_content p {
    margin-bottom: 2.5rem;
    max-width: 35ch;
}

.hero .image {
    flex: 1;
    position: relative;
}

.hero .image .hero_desktop_image {
    width: 70vw;
    max-width: 1046px;
    z-index: -1;
    position: absolute;
    left: 5vw;
    bottom: -10vw;
}


/* Courses ********************************** */
.courses_section {
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
}

.courses_section .courses_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 5.25rem 2rem;
}

.courses_section .course_box {
    height: 20.125rem;
    background-color: #FFFFFF;
    padding: 4rem 2rem 2.5rem 2rem;
    border-radius: 0.9375rem;
    box-shadow: 0 1.5625rem 3.125rem 0 rgba(6, 22, 141, 0.0442);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.box_icon {
    position: absolute;
    top: -1.75rem;
}

.course_box h3 {
    color: var(--blue-900);
    margin-bottom: 1.5rem;
}

.course_box a {
    color: var(--pink-600);
}

.course_box a:hover {
    color: var(--pink-300);
}

/* Footer ********************************** */

footer,
nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer .d-flex,
nav .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_overlay {
    position: relative;
    overflow: hidden;
}

.btn_overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.btn_overlay:hover::before {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .logo {
        height: 20px;
    }

    a.btn {
        padding: 10px 2rem;
    }

    .text-1 {
        font-size: 40px;
    }

}

@media (max-width: 768px) {}