@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --blue-600: #666CA3;
    --blue-900: #13183F;
    --grey: #83869A;
    --pink-600: #F74780;
    --pink-300: #FFA7C3
}

body,
* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.gradient-1 {
    background: linear-gradient(to bottom, #FF6F48, #F02AA6);
}

.gradient-2 {
    background: linear-gradient(to bottom, #4851FF, #F02AA6);
}

.gradient-3 {
    background: linear-gradient(to bottom, #FFFFFF, #F0F1FF);
}

.bg-blue-900 {
    background-color: var(--blue-900);
}

a {
    cursor: pointer;
    transition: all 0.3 ease-in-out;
}

.btn.bg-blue-900:hover {
    background-color: var(--blue-600);
}


.text-1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 120%;
}

.text-3 {
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
}

.text-4 {
    font-weight: 800;
    font-size: 24px;
    line-height: 120%;
}

.text-5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
}

.text-7 {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}


.section {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

a.btn {
    color: white;
    border-radius: 28px;
    text-align: center;
    padding: 16px 32px;
    display: inline-block;

}


.logo {
    height: 28px;
}

h1 {
    color: var(--blue-900);
}

h2 {
    color: white;
}

p {
    color: var(--grey);
}

/* Header and Hero ********************************** */
header {
    background-image: url('../src/assets/image-hero-desktop.webp');
    background-repeat: no-repeat;
    background-position: 52vw -20vh;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 174.5px;
    padding-bottom: 174.5px;
}

.hero div.image {
    flex: 1;
}

.hero_content {
    flex: 1;
    max-width: 50%;
}

.hero_content h1 {
    margin-bottom: 24px;
}

.hero_content p {
    margin-bottom: 40px;
    max-width: 35ch;
}



/* Courses ********************************** */
.courses_section {
    padding-top: 92px;
    padding-bottom: 92px;
}

.courses_section .courses_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 5.25rem 2rem;
}

.courses_section .course_box {
    height: 322px;
    background-color: #FFFFFF;
    padding: 64px 32px 40px 32px;
    border-radius: 15px;
    box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 4.42%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.box_icon {
    position: absolute;
    top: -28px;
}

.course_box h3 {
    color: var(--blue-900);
    margin-bottom: 24px;
}


.course_box a {
    color: var(--pink-600);
}

.course_box a:hover {
    color: var(--pink-300);
}


/* Footer ********************************** */

footer,
nav {
    padding-top: 24px;
    padding-bottom: 24px;
}

footer .d-flex,
nav .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}